@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background: #457b9d;
  color: #fff;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 20px;
}

.areaNav {
  display: flex;
  padding: 10px;
}

.listMenu {
  display: flex;
  list-style: none;
  margin-left: 10%;
  margin-top: 0.7%;
  font-size: 14pt;
}

.listMenu a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  background-color: #1d3557;
  border-radius: 5px;
}

.listMenu a:hover {
  background: #457b9d;
  border: 2px solid #1d3557;
  transition: .2s;
}

.listMenu a:active {
  background: #1d3557;
  border: 2px solid #457b9d;
  transition: .2s;
}

.menuItens {
  margin-right: 20%;
}

#error-message {
  display: flex;
  justify-content: center;
  margin-left: 6%;
  font-weight: 700;
  color: rgb(243, 63, 63);
  margin-bottom: 10px;
}

fieldset {
  margin: auto;
  width: 80%;
  border: 2px solid #457b9d;
  border-radius: 4px;
}

legend {
  text-align: center;
  color: #1d3557;
}

.areaCEP label {
  font-size: 14pt;
  margin-top: 3px;
  color: #1d3557;
}

.areaCEP {
  padding: 10px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

#campoCEP {
  margin-left: 10px;
  width: 20%;
  height: 30px;
  font-size: 14pt;
  border: 1px solid #457b9d;
  border-radius: 3px;
  outline: none;
  padding: 5px;
  color: #1d3557;
}

.areaLocal {
  display: grid;
  width: 600px;
  margin: auto;
}

.areaLocal label {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 14pt;
  color: #1d3557;
}

.campoLocal {
  height: 30px;
  font-size: 14pt;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #457b9d;
  color: #1d3557;
  outline: none;
  cursor: not-allowed;
}

input:disabled {
  background-color: #fff;
}